[Unit]
Description=Pasted Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/root/pasted/run
WorkingDirectory=/root/pasted

[Install]
WantedBy=multi-user.target