@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("/static/ttf/Montserrat-VariableFont_wght.ttf");
}

@theme {
    --font-display: Montserrat, sans-serif;
}

.md h1 {
    @apply text-3xl font-bold mb-4;
}

.md h2 {
    @apply text-2xl font-bold mb-3;
}

.md h3 {
    @apply text-xl font-bold mb-2;
}

.md h4 {
    @apply text-lg font-bold mb-2;
}

.md h5 {
    @apply text-base font-bold mb-1;
}

.md h6 {
    @apply text-sm font-bold mb-1;
}

.md p {
    @apply mb-4;
}

.md code {
    @apply bg-gray-100 p-2 rounded-lg overflow-x-auto whitespace-pre-wrap;
}

.md a {
    @apply text-blue-500 hover:underline;
}

.md img {
    @apply rounded-lg w-[50%] mb-4;
}

.md blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
}

.md ul {
    @apply list-disc list-inside mb-4;
}

.md ol {
    @apply list-decimal list-inside mb-4;
}

.md table {
    @apply w-full border-collapse mb-4;
}

.md th, .md td {
    @apply border border-gray-300 p-2;
}