{% extends "template.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white/50 backdrop-blur-xs rounded-lg shadow-lg p-8 w-min min-w-[30%] max-w-[75%] max-h-screen overflow-y-auto">
        <h1 class="font-bold text-2xl underline"><u>FAQ</u></h1>
        <p>Make sure you also read the <a href="/tos" class="text-blue-500 hover:text-blue-600">ToS</a> and <a href="/privacy" class="text-blue-500 hover:text-blue-600">Privacy Policy</a>,</p>
        <hr>
        <h2 class="text-xl mt-2">What is pasted.sh?</h2>
        <p>pasted.sh aims to be a free-for-use file hosting and pastebin service, letting anyone share files, text, audio, and more with others online, without clogging up your chat with lines upon lines of text or files.</p>
        
        <h2 class="text-xl mt-2">How long do my files last for?</h2>
        <p>For now, your files are kept for 14 days, then deleted permanently, unless it's removed due to abuse.</p>
        
        <h2 class="text-xl mt-2">What can I put up here?</h2>
        <p>Pretty much anything that you own or have permission to use. There's a fair few things I don't want on here though, anything illegal under British or German law is NOT allowed.</p>
        <p>As well as this, any malware uploaded that can infect other computers will be removed as well if uploaded.</p>
        
        <h2 class="text-xl mt-2">How is my data stored?</h2>
        <p>I use Hetzner's S3 storage to store your data. When drives are replaced at Hetzner, they are shredded on-site and don't leave their datacentres in a form where data could be recovered.</p>

        <h2 class="text-xl mt-2">Can anyone access my data?</h2>
        <p>The files uploaded here arent private, meaning anyone can probably guess the URL to one of the files you've uploaded. I'll sometimes audit new files to look for illegal content or content not allowed on this platform, if you don't want anyone seeing your files, you should probably figure out your own way of doing that.</p>

        <h2 class="text-xl mt-2">Do you remove anything that goes against ToS or is illegal?</h2>
        <p>If you do happen to find anything on this platform that is against ToS or is illegal, please email me about it at <a href="mailto:abuse-pasted@amnexya.com" class="text-blue-500 hover:text-blue-600">abuse-pasted@amnexya.com</a>, I'll respond as soon as I see your email.</p>
        <p>I'll review the files sent and, if warranted, I will remove the file instantly. If I can't determine whether it should be removed or not, I usually will to be safe.</p>
        <p>You do have the option to go the legal route and have me served with a warrant, subpoena, court order, etc etc etc, but I'll be quite honest I don't really want to wake up to my flat being raided by armed police and getting all my stuff seized sooooo.</p>

        <h2 class="text-xl mt-2">What logs are kept?</h2>
        <p>Read the <a href="/privacy" class="text-blue-500 hover:text-blue-600">Privacy Policy</a>. In a nutshell, we log your IP address, and that's it. The IP address is nulled out of our database 72 hours after the file is uploaded</p>

        <h2 class="text-xl mt-2">I want to ask you something.</h2>
        <p>Email me, <a href="mailto:pasted@amnexya.com" class="text-blue-500 hover:text-blue-600">pasted@amnexya.com</a>.</p>

        <a href="/" class="text-blue-500 hover:text-blue-600">pasted.sh</a>
    </div>
</div>
{% endblock %}