{% extends "template.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white/50 backdrop-blur-xs rounded-lg shadow-lg p-8 w-min min-w-[430px] max-w-[75%] max-h-screen overflow-y-auto">
        <h1 class="font-bold text-2xl underline"><u>FAQ</u></h1>
        <p>Make sure you also read the <a href="/tos" class="text-blue-500 hover:text-blue-600">ToS</a> and <a href="/privacy" class="text-blue-500 hover:text-blue-600">Privacy Policy</a>,</p>
        <hr>
        <h2 class="text-xl mt-2">What is pasted.sh?</h2>
        <p>pasted.sh is a free-for-use file hosting and pastebin service, we allow anyone to share files, text, audio, and more with others online, without clogging up your chat with lines upon lines of text or files.</p>
        
        <h2 class="text-xl mt-2">How long do my files last for?</h2>
        <p>Your files are usually kept forever, unless my storage host dies or your files are reported for abuse.</p>
        <p>It's not advised to upload anything you don't have a backup for, as it's likely files will be purged at some point.</p>
        
        <h2 class="text-xl mt-2">What can I put up here?</h2>
        <p>You can upload anything that isn't illegal or against our ToS.</p>

        <h2 class="text-xl mt-2">Can anyone access my data?</h2>
        <p>The files uploaded here arent private, anyone can guess the URL to anything you've uploaded, so don't upload anything you don't want the world to see.</p>

        <h2 class="text-xl mt-2">Do you remove anything that goes against ToS or is illegal?</h2>
        <p>If you do happen to find anything on this platform that is against ToS or is illegal, please email me about it at <a href="mailto:abuse-pasted@amnexya.com" class="text-blue-500 hover:text-blue-600">abuse-pasted@amnexya.com</a>, I'll take action and review the URL as soon as I see your email.</p>
        <p>We usually receive automatic abuse reports from our hosting provider too, note that any URLs sent from our hosting provider are removed instantly with no review, as these usually come with the threat of pasted being shut down.</p>
        <p>You do have the option to go the legal route and have me served with a warrant, subpoena, court order, etc, but I'll be quite honest I don't really want to wake up to my flat being raided by armed police and getting all my stuff seized sooooo.</p>

        <h2 class="text-xl mt-2">What logs are kept?</h2>
        <p>Read the <a href="/privacy" class="text-blue-500 hover:text-blue-600">Privacy Policy</a>. In a nutshell, we log your IP address, user agents, and referrers.</p>

        <h2 class="text-xl mt-2">I want to ask you something.</h2>
        <p>Email me, <a href="mailto:pasted@amnexya.com" class="text-blue-500 hover:text-blue-600">pasted@amnexya.com</a>.</p>

        <a href="/" class="text-blue-500 hover:text-blue-600">pasted.sh</a>
    </div>
</div>
{% endblock %}