{% extends "template.html" %}

{% block content %}
    <div class="centre">
        <img src="/static/img/pastedlogo.png" alt="pasted.sh" width="300px">
        <p class="subtext">Read the <a href="/faq">FAQ</a>!</p>

        <form action="/paste" method="post" enctype="multipart/form-data">
            <!-- Upload file -->
            <input type="file" name="file" id="file">
            <button type="submit">Upload</button>
        </form>

        <p>Max file size: 128mb</p>
        <p>Files are deleted 14 days after uploading.</p>

        <p class="subtext"><i>"{{quote}}" - {{quote_author}}</i></p>

        <a href="/faq">FAQ</a> | <a href="/tos">ToS</a> | <a href="/privacy">Privacy Policy</a> | <a href="https://github.com/amnexya/pasted">Source</a> | <p class="subtext">pasted.sh BETA</p>
    </div>
{% endblock %}