{% extends 'template.html' %}

{% block content %}
<div class="centre actual-centre">
    <h1><u>Privacy Policy</u></h1>

    <p>This is "pasted.sh" ("we", "us", "our"). We are dedicated to protecting and respecting your privacy when using the features this website provides ("service").</p>
    <p>Any questions or concerns about your personal information can be emailed to <a href="mailto:pasted@amnexya.com">pasted@amnexya.com</a>.</p>
    <br>
    <p>What information do we hold about you:</p>
    <p>- We store one piece of data about you, and that is your IP address.</p>
    <p>This data is collected in the following cases:</p>
    <p>- You browse any page of our service.</p>
    <p>- You upload content to our service.</p>
    <p>The data we hold about you is cleared within 72 hours of it being collected. The data is used for detection of violations in the ToS, as well as debugging.</p>
    <br>
    <p>How we use your data:</p>
    <p>- We use the information we hold about you to ensure that our ToS isn't repeatedly broken by one singular person, by issuing network bans to an offending IP address.</p>
    <p>How do we keep your data secure:</p>
    <p>- We have sufficient safeguards in place to ensure that unauthorised access or disclosure is highly unlikely to occur.</p>
    <br>
    <p>Your rights:</p>
    <p>- You have a right to request a copy of your data, or to have all of your data that we hold removed, at any time, no questions asked. If this is the case, email <a href="mailto:pasted@amnexya.com">pasted@amnexya.com</a>.</p>
    <br>
    <p>Changes to this policy:</p>
    <p>- We reserve the right to change this policy at any time, with a 48 hour notice period before any new changes come into effect.</p>
    <br>
    <p>Breaches of our ToS in relation to illegal material, specifically CSAM (Child Sexual Abuse Material) invalidate any rights you have under this privacy policy.</p>
    <a href="/">pasted.sh</a>
</div>
{% endblock %}