<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded - pasted.sh</title>
</head>
<body>
    <h1>Your file was uploaded successfully!</h1>
    <p>Your url is https://{{host}}/{{filename}}</p>
    <p>Your management token is {{mgmt}}, you will need this to manage your file through cURL.</p>
    {% if user is not none %}
    <p>Otherwise, go to your files page to manage it.</p>
    {% else %}
    <p>If you want to manage your file through the web, make sure to sign up for an account.</p>
    {% endif %}
    <h3>Thanks for using {{host}}</h3>
</body>
</html>