{% extends 'template.html' %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white/50 backdrop-blur-xs rounded-lg shadow-lg p-8 w-min min-w-[430px] max-w-[75%] max-h-screen overflow-y-auto">
        <h1 class="font-bold text-2xl underline"><u>Terms of Service</u></h1>
        <p>"The provider" ("we", "us", "our") of this website refer to the people running this website.
        <p>"Service" refers to the features that this website provides for its users.</p>
        <p>"User" refers to anyone who uses this service.</p>
        <p>"Author" refers to the creator of any piece of media uploaded to this service.</p>
        <p>"Content" refers to any piece of data uploaded to this service by a user.</p>

        <p>By using this service, you agree to the following:</p>
        <p>1. This service is only available to users who are at least 18 (eighteen) years old. If you do not meet this requirement, you cannot agree to these terms, and therefore can not use this service.</p>
        <p>2. Any and all content submitted to this service express the views and beliefs of their author only.</p>
        <p>3. Any content uploaded to this service by a user may be reviewed by us.</p>
        <p>4. We are not responsible for any content uploaded by a user to this service, authored by the user or not.</p>
        <p>5. This service may not be used to link to or provide any content considered illegal under UK or German law.</p>
        <p>6. This service may not be used to supply malicious content such as malware, phishing, spam, etc...</p>
        <p>7. A user using this service is entirely responsible for their own, and any harm resulting from, their content.</p>
        <p>8. We reserve the right to remove or modify any content submitted at any time, with or without notice, and with or without cause.</p>
        <p>9. This site may not be used as a component in any third-party commercial service without our prior approval.</p>
        <p>10. Requests for content removal will be undertaken at our own discretion if the content is not in breach of these terms.</p>
        <p>11. We reserve the right to change these terms at any time, with a 48 hour notice period before any new changes come into effect.</p>
        <p>12. We reserve the right to terminate any users usage of this service if these terms have been breached.</p>
        <p>13. Users are not permitted to scrape data from this service, and may have their usage of this service revoked if evidence of data scraping is found.</p>
        <p>14. If you do not agree with these terms, please do not use this service. Use of this service constitutes acceptance of these terms.</p>

        <a href="/" class="text-blue-500 hover:text-blue-600">pasted.sh</a>
    </div>
</div>
{% endblock %}